{{!
    This file is part of the block_mylearning plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mylearning/program_view_course_name

    Template for showing course link.

    Example context (json):
    {
        "ishidden": "1",
        "unlocked": "1",
        "iscompleted": "1",
        "isenrolled": "1",
        "isstarted": "1",
        "courseid": "35",
        "programid": "29",
        "name": "Course name",
        "url": "https://moodle.org"
    }
}}
<div data-region="course-call-to-action">
    {{#ishidden}}
        <span class="text-muted">{{#str}} coursenotavailable, tool_program {{/str}}</span>
    {{/ishidden}}
    {{^ishidden}}
        {{#viewasmode}}
            {{{name}}}
        {{/viewasmode}}
        {{^viewasmode}}
            {{^unlocked}}
                <a class="btn btn-link text-left p-0"
                   role="button"
                   data-toggle="popover"
                   data-content="{{unlockrequirement}}"
                   data-trigger="focus"
                   tabindex="0">
                    {{{name}}}
                </a>
            {{/unlocked}}
            {{#unlocked}}
                {{#iscompleted}}
                    <a href="{{url}}"
                       title="{{#str}} review, tool_program {{/str}}">
                        {{{name}}}
                    </a>
                {{/iscompleted}}
                {{^iscompleted}}
                    {{^isenrolled}}
                        <button class="btn btn-link text-left p-0 enrol_to_course"
                                data-courseid="{{courseid}}"
                                data-programid="{{programid}}"
                                title="{{#str}} enrol, tool_program {{/str}}">
                            {{{name}}}
                        </button>
                    {{/isenrolled}}
                    {{#isenrolled}}
                        <a href="{{url}}"
                           title="{{#str}} continue, block_mylearning {{/str}}">
                            {{{name}}}
                        </a>
                    {{/isenrolled}}
                {{/iscompleted}}
            {{/unlocked}}
        {{/viewasmode}}
    {{/ishidden}}
</div>
